definitions:
  errcode.ArgsErrorResponse:
    properties:
      code:
        example: 400
        type: integer
      data: {}
      msg:
        example: Invalid arguments
        type: string
    type: object
  errcode.SuccessResponse:
    properties:
      code:
        example: 0
        type: integer
      data: {}
      msg:
        example: Success
        type: string
    type: object
  errcode.SystemErrorResponse:
    properties:
      code:
        example: 500
        type: integer
      data: {}
      msg:
        example: Internal server error
        type: string
    type: object
  model.JsonValue:
    properties:
      data: {}
    type: object
  model.Menu:
    properties:
      children:
        items: {}
        type: array
      component:
        description: 组件路径
        type: string
      createdAt:
        description: 创建时间
        type: string
      id:
        description: ID
        type: integer
      isLink:
        description: 是否外链 1=是 2=否 默认=2
        type: integer
      meta:
        allOf:
        - $ref: '#/definitions/model.JsonValue'
        description: meta
      name:
        description: 路由名称
        type: string
      path:
        description: 路由路径
        type: string
      pid:
        description: 父级id
        type: integer
      redirect:
        description: 重定向
        type: string
      sort:
        description: 排序
        type: integer
      status:
        description: 状态 1=启用 2=停用
        type: integer
      updatedAt:
        description: 更新时间
        type: string
    type: object
  model.User:
    properties:
      age:
        description: 年龄
        type: integer
      avatar:
        description: 头像
        type: string
      createdAt:
        description: 创建时间
        type: string
      email:
        description: 邮箱
        type: string
      fullName:
        description: 姓名
        type: string
      gender:
        description: 性别 1=男 2=女
        type: integer
      id:
        description: ID
        type: integer
      nickname:
        description: 昵称
        type: string
      password:
        description: 密码
        type: string
      status:
        description: 状态 1=启用 2=停用
        type: integer
      updatedAt:
        description: 更新时间
        type: string
      userRoles:
        description: 用户角色
        items:
          $ref: '#/definitions/model.UserRoles'
        type: array
      username:
        description: 用户名
        type: string
    type: object
  model.UserRoles:
    properties:
      createdAt:
        description: 创建时间
        type: string
      id:
        description: ID
        type: integer
      name:
        description: 角色名称
        type: string
      roleId:
        description: 角色id
        type: integer
      updatedAt:
        description: 更新时间
        type: string
      userId:
        description: 用户id
        type: integer
    type: object
  request.PageData:
    properties:
      list:
        description: 数据列表
      notPage:
        description: 不分页
        example: false
        type: boolean
      page:
        description: 当前页
        type: integer
      pageSize:
        description: 每页条数
        type: integer
      total:
        description: 总条数
        type: integer
    type: object
  request.UserCreate:
    properties:
      fullName:
        type: string
      gender:
        type: integer
      nickname:
        type: string
      password:
        type: string
      username:
        type: string
    required:
    - fullName
    - nickname
    - password
    - username
    type: object
  request.UserLogin:
    properties:
      password:
        example: "123456"
        type: string
      username:
        example: admin
        type: string
    required:
    - password
    - username
    type: object
  request.UserUpdate:
    properties:
      age:
        type: integer
      fullName:
        type: string
      gender:
        type: integer
      id:
        type: integer
      nickname:
        type: string
      username:
        type: string
    required:
    - fullName
    - nickname
    - username
    type: object
  v1.LoginResponse:
    properties:
      token:
        $ref: '#/definitions/v1.Token'
      user:
        $ref: '#/definitions/model.User'
    type: object
  v1.Token:
    properties:
      accessToken:
        type: string
      refreshToken:
        type: string
      refreshTokenExpire:
        example: 172800
        type: integer
      tokenExpire:
        example: 7200
        type: integer
    type: object
host: 127.0.0.1:8080
info:
  contact:
    email: 25076778@qq.com
    name: API Support
    url: http://www.swagger.io/support
  description: Gin API 文档
  termsOfService: http://swagger.io/terms/
  title: Gin Swagger API
  version: "2.0"
paths:
  /api/v1/login:
    post:
      consumes:
      - application/json
      description: 用户登录
      parameters:
      - description: 登录参数
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.UserLogin'
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/errcode.SuccessResponse'
            - properties:
                data:
                  $ref: '#/definitions/v1.LoginResponse'
              type: object
        "400":
          description: 参数错误
          schema:
            $ref: '#/definitions/errcode.ArgsErrorResponse'
        "500":
          description: 系统错误
          schema:
            $ref: '#/definitions/errcode.SystemErrorResponse'
      summary: 登录
      tags:
      - 登录相关
  /api/v1/menu:
    get:
      description: 菜单列表
      parameters:
      - description: 认证Token
        in: header
        name: token
        required: true
        type: string
      - description: 页码
        in: query
        name: page
        required: true
        type: string
      - description: 分页大小
        in: query
        name: pageSize
        required: true
        type: string
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/errcode.SuccessResponse'
            - properties:
                data:
                  allOf:
                  - $ref: '#/definitions/request.PageData'
                  - properties:
                      list:
                        items:
                          $ref: '#/definitions/model.Menu'
                        type: array
                    type: object
              type: object
        "400":
          description: 参数错误
          schema:
            $ref: '#/definitions/errcode.ArgsErrorResponse'
        "500":
          description: 系统错误
          schema:
            $ref: '#/definitions/errcode.SystemErrorResponse'
      summary: 列表
      tags:
      - 菜单管理
  /api/v1/refresh-token:
    post:
      consumes:
      - application/json
      description: 刷新token
      parameters:
      - description: 刷新Token
        in: header
        name: token
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/errcode.SuccessResponse'
            - properties:
                data:
                  $ref: '#/definitions/v1.Token'
              type: object
        "400":
          description: 参数错误
          schema:
            $ref: '#/definitions/errcode.ArgsErrorResponse'
        "500":
          description: 系统错误
          schema:
            $ref: '#/definitions/errcode.SystemErrorResponse'
      summary: 刷新token
      tags:
      - 登录相关
  /api/v1/user:
    get:
      description: 用户列表
      parameters:
      - description: 认证Token
        in: header
        name: token
        required: true
        type: string
      - description: 页码
        in: query
        name: page
        required: true
        type: string
      - description: 分页大小
        in: query
        name: pageSize
        required: true
        type: string
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/errcode.SuccessResponse'
            - properties:
                data:
                  allOf:
                  - $ref: '#/definitions/request.PageData'
                  - properties:
                      list:
                        items:
                          $ref: '#/definitions/model.User'
                        type: array
                    type: object
              type: object
        "400":
          description: 参数错误
          schema:
            $ref: '#/definitions/errcode.ArgsErrorResponse'
        "500":
          description: 系统错误
          schema:
            $ref: '#/definitions/errcode.SystemErrorResponse'
      summary: 列表
      tags:
      - 用户管理
    post:
      description: 用户创建
      parameters:
      - description: 认证Token
        in: header
        name: token
        required: true
        type: string
      - description: 创建参数
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.UserCreate'
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/errcode.SuccessResponse'
            - properties:
                data:
                  $ref: '#/definitions/model.User'
              type: object
        "400":
          description: 参数错误
          schema:
            $ref: '#/definitions/errcode.ArgsErrorResponse'
        "500":
          description: 系统错误
          schema:
            $ref: '#/definitions/errcode.SystemErrorResponse'
      summary: 创建
      tags:
      - 用户管理
  /api/v1/user/{id}:
    delete:
      description: 用户删除
      parameters:
      - description: 认证Token
        in: header
        name: token
        required: true
        type: string
      - description: 用户ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/errcode.SuccessResponse'
            - properties:
                data:
                  $ref: '#/definitions/model.User'
              type: object
        "400":
          description: 参数错误
          schema:
            $ref: '#/definitions/errcode.ArgsErrorResponse'
        "500":
          description: 系统错误
          schema:
            $ref: '#/definitions/errcode.SystemErrorResponse'
      summary: 删除
      tags:
      - 用户管理
    get:
      description: 用户详情
      parameters:
      - description: 认证Token
        in: header
        name: token
        required: true
        type: string
      - description: 用户ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/errcode.SuccessResponse'
            - properties:
                data:
                  $ref: '#/definitions/model.User'
              type: object
        "400":
          description: 参数错误
          schema:
            $ref: '#/definitions/errcode.ArgsErrorResponse'
        "500":
          description: 系统错误
          schema:
            $ref: '#/definitions/errcode.SystemErrorResponse'
      summary: 详情
      tags:
      - 用户管理
    put:
      description: 用户更新
      parameters:
      - description: 认证Token
        in: header
        name: token
        required: true
        type: string
      - description: 用户ID
        in: path
        name: id
        required: true
        type: integer
      - description: 更新参数
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/request.UserUpdate'
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/errcode.SuccessResponse'
            - properties:
                data:
                  $ref: '#/definitions/model.User'
              type: object
        "400":
          description: 参数错误
          schema:
            $ref: '#/definitions/errcode.ArgsErrorResponse'
        "500":
          description: 系统错误
          schema:
            $ref: '#/definitions/errcode.SystemErrorResponse'
      summary: 更新
      tags:
      - 用户管理
swagger: "2.0"
